google_api_python_client==2.100.0
key==0.4
lxml==4.9.2
Markdown==3.5.2
matplotlib==3.7.2
moviepy==1.0.3
numpy==1.24.4
pandas==1.5.3
Requests==2.31.0
requests_html==0.10.0
setuptools==68.2.2
streamlit==1.29.0
streamlit_auth==0.1.7.1
trafilatura==1.6.2
